<div class="fondo">
    <img src="https://lh3.googleusercontent.com/a/ACg8ocKBhIBFgVw4jgqWeoCwyGdPZ6h0IeJ7_jrICn3UnDzczKmCto4J=s360-c-no" class="foto">
    <div class="nombre"> Ismael Parapi</div><br>
    <h2 class="sbr">Quien soy</h2>
    <p class="txt">Soy un estudiante de tercero de bachillerato en el colegio Técnico Salesiano, donde estoy especializándome en informática. Me apasiona el desarrollo tecnológico, la programación y el diseño, áreas en las que he adquirido una sólida base de conocimientos que me permiten crear proyectos innovadores y útiles.</p>
</div>
